
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tumor prediction</title>
</head>
<body>
    <h1>vkonex</h1><br>
    <p>enter</p>
    <form method="POST", action="{{url_for('index')}}">
        <b>
         Second value :  <input type="number", name='b', placeholder="enter 2"> <br><br>
         Third value :  <input type="number", name='c', placeholder="enter 3"> <br><br>
         Fourth value : <input type="number", name='d', placeholder="enter 4"> <br><br>
         Fifth value :  <input type="number", name='e', placeholder="enter 5"> <br><br>
         Sixth value :  <input type="number", name='f', placeholder="enter 6"> <br><br>
         Seventh value :  <input type="number", name='g', placeholder="enter 7"> <br><br>
         Eighth value : <input type="number", name='h', placeholder="enter 8"> <br><br>
         Nineth value :  <input type="number", name='i', placeholder="enter 9"> <br><br>
         Tenth value :  <input type="number", name='j', placeholder="enter 10"> <br><br><br></b>
         <input type="submit" , value='predict!' >
    </form>
</body>
</html>